/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* changes base font to 10px */
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__background {
  background-color: #05f09a;
  position: absolute;
  bottom: 2.5%;
  right: 5%;
  height: 6%;
  width: 30%;
  transition: all 1s ease-in-out;
}
.menu__browser {
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3.5rem;
  color: #212121;
  opacity: 0;
  transform: translate(40%, 110%) scale(0) rotate(40deg);
  transition: all 1s ease-in-out;
}
.menu__browser-header {
  text-decoration: underline;
  height: 15%;
}
.menu__browser-category {
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15%;
  overflow: hidden;
  transition: all 1s ease-in-out;
}
.menu__browser-category-header {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  transition: all 1s ease-in-out;
}
.menu__browser-category-arrow {
  color: #fafafa;
  font-size: 3rem;
  transition: all 1s ease-in-out;
}
.menu__browser-category-grid {
  align-self: stretch;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  height: 0;
  opacity: 0;
  transition: all 1s;
}
.menu__browser-category-link-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.menu__browser-category-link {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  color: #fafafa;
  white-space: nowrap;
}
.menu__browser-category-link-arrow {
  color: #2a333c;
  font-size: 2rem;
}
.menu__button {
  background-color: #05f09a;
  position: absolute;
  bottom: 2.5%;
  right: 5%;
  height: 6%;
  width: 30%;
  display: flex;
  justify-content: center;
  transition: all 1s 0.5s;
}
.menu__button-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #05f09a;
  transition: background-color 1s ease-in-out, height 1s ease-in-out, width 1s ease-in-out, transform 1s 1s;
}
.menu__button-background::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #05f09a;
  transition: all 1s ease-in-out;
  transform: rotate(0);
}
.menu__button-text {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3.5rem;
  color: #4566e8;
  transition: transform 1s ease-in-out, opacity 1s 0.2s;
  z-index: 1;
}

.open-menu__background {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
}
.open-menu__browser {
  opacity: 1;
  transform: translate(0, 0) scale(100%);
}
.open-menu__button-background {
  width: 60%;
  height: 40%;
  background-color: #4566e8;
  transform: rotate(45deg);
}
.open-menu__button-background::after {
  background-color: #4566e8;
  transform: rotate(90deg);
}
.open-menu__button-text {
  transform: skew(45deg) rotate(135deg) scale(0);
  opacity: 0;
}

.down-arrow {
  display: inline;
}

.open-link {
  height: 100%;
}

.open-container {
  height: 50%;
}

.open {
  height: 100%;
  opacity: 1;
}

.width-100 {
  width: 100%;
}

.height-30 {
  height: 60%;
  background-color: rgba(235, 235, 235, 0.4);
  padding: 1rem;
}

.rotate-90 {
  transform: rotate(-90deg);
}

.move-right {
  left: 0;
}

.index {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 25% 65% 10%;
  align-items: center;
}
.index-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index-header__name {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: flegrei, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.index-header__name-first {
  color: #212121;
  font-size: 11rem;
}
.index-header__name-last {
  color: #05f09a;
  font-size: 5rem;
  position: absolute;
  bottom: 0;
  text-shadow: 6px 6px 2px rgba(33, 33, 33, 0.1);
}
.index-header__mitxpro {
  width: 50%;
}
.index-header__mitxpro-img {
  filter: hue-rotate(260deg) brightness(1.75);
}
.index-body {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "class class class ." ". exp exp exp";
  align-items: center;
  font-size: 2.5rem;
  padding: 2rem;
}
.index-body__class-title {
  font-family: ocr-a-std, monospace;
  font-weight: 400;
  font-style: normal;
  color: #999999;
  grid-area: class;
}
.index-body__site-explanation {
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #212121;
  grid-area: exp;
}
.index-footer__legal {
  font-size: 1.2rem;
  width: 30%;
  padding-left: 2rem;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #212121;
}

/*# sourceMappingURL=style.css.map */
