doctype html
html
  head
    link(rel="shortcut icon", href="/images/favicon.png", type="image/x-icon")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    p Welcome to #{title}