/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
	all: unset;
	display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* changes base font to 10px */
html {
	font-size: 10px;
	scroll-behavior: smooth;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol,
ul {
	list-style: none;
}

/* For images to not be able to exceed their container */
img {
	max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
	border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
	white-space: revert;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	cursor: pointer;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10vh;
	background-color: hsla(0, 0%, 96%, 0.95);
	box-shadow: 0 1px 1px hsla(0, 0%, 6%, 0.1);

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 4rem;
	z-index: +1;
}

.logo {
	font-size: 4rem;
	font-family: futura-pt, sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0.5rem;
	color: hsl(0, 0%, 20%);
	position: relative;
	white-space: nowrap;
	transition: all 0.3s ease-out;
}

.logo::before {
	content: "home";
	position: absolute;
	opacity: 0;
	right: 0%;
	color: hsla(0, 0%, 70%, 0.5);
	transition: all 0.3s ease-out;
}

.logo::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 1%;
	width: 75%;
	height: 3px;
	background-color: hsl(27, 79%, 59%);
	transition: all 0.3s ease-out;
}

.logo:hover {
	color: hsl(0, 0%, 0%);
}

.logo:hover::before {
	opacity: 1;
	right: -60%;
}

.logo:hover::after {
	width: 156%;
}
.link-container {
	display: flex;
	gap: 4rem;
}

.link {
	font-size: 2rem;
	font-family: futura-pt, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: hsl(0, 0%, 20%);
	transition: all 0.3s ease-out;
	white-space: nowrap;
}

.link:hover {
	color: hsl(27, 79%, 59%);
}

.secondary-nav {
	position: absolute;
	top: 100%;
	right: 5%;
	background-color: hsl(0, 0%, 25%);
	display: flex;
	gap: 4rem;
	padding: 1rem 4rem;
	border-bottom-left-radius: 100vh;
	border-bottom-right-radius: 100vh;
	box-shadow: 0 1px 3px hsla(0, 0%, 6%, 0.1);
}

.secondary-nav > * {
	color: hsl(0, 0%, 96%);
}

#root {
	width: 100%;
	padding-top: 10vh;
	font-family: futura-pt, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2rem;
	position: relative;
}

.banner {
	height: 50vh;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.banner-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: brightness(0.7);
}

.banner-text {
	position: absolute;
	color: hsl(27, 79%, 59%);
	font-size: 8rem;
	letter-spacing: 1rem;
	font-family: reross-quadratic, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.banner-text::after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 35%;
	height: 6px;
	background-color: hsl(0, 0%, 96%);
	transition: all 0.3s ease-out;
}

.card {
	display: flex;
	flex-direction: column;
	background-color: hsl(0, 0%, 90%);
	height: 90vh;
}

.card__header {
	font-size: 4rem;
}

.card__body {
	display: flex;
	flex-direction: column;
}

.card__title {
	font-size: 3rem;
}

.card__text {
	font-size: 2rem;
}

#createStatus {
	font-size: 2rem;
}

/* form */
.form_container {
	padding: 2rem;
	width: 100%;
}

.form {
	width: 40%;
	margin: auto;
	background-color: hsl(0, 0%, 96%);
	border-radius: 3px;
	padding: 4rem;
	position: relative;
}
.form_section {
	padding: 2.5rem 0 0 0;
	margin: 1rem;
	position: relative;
	cursor: text;
}
.form_input {
	width: 100%;
	padding: 0.5rem;
	background-color: hsl(0, 0%, 90%);
	outline: none;
	border: none;
	border-radius: 3px;
	color: black;
	font: inherit;
	transition: border-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1),
		transform 0.6s cubic-bezier(0.23, 1, 0.32, 1),
		box-shadow 1.5s cubic-bezier(0.23, 1, 0.32, 1) 0.2s,
		background 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	text-transform: capitalize;
}
.form_input-email {
	text-transform: lowercase;
}
.form_input-email::placeholder {
	text-transform: capitalize;
}
.form_input-validator {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
	background-color: #06af8b;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}
:not(:focus):valid ~ .form_input-validator {
	visibility: visible;
	transform: scaleX(1);
}
.form_input::placeholder {
	color: rgba(169, 169, 169, 0.5);
	transition: all 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.form_input:focus {
	box-shadow: rgba(233, 142, 68, 0.4) 5px 5px, rgba(233, 142, 68, 0.3) 10px 10px,
		rgba(233, 142, 68, 0.2) 15px 15px, rgba(233, 142, 68, 0.1) 20px 20px,
		rgba(233, 142, 68, 0.05) 25px 25px;
	transform: scale(1.03);
}
.form_input:focus::placeholder {
	color: black;
}
.form_label {
	position: absolute;
	top: 35%;
	left: 0;
	color: darkgray;
	visibility: hidden;
	opacity: 0;
	transition: all 0.6s;
}
.form_input:not(:placeholder-shown) ~ .form_label {
	visibility: visible;
	opacity: 1;
	font-size: 1.5rem;
	top: 0;
	color: black;
}
.form_check {
	position: absolute;
	top: 50%;
	right: 1%;
	fill: transparent;
	transition: fill 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0.1s,
		transform 0.5s cubic-bezier(0.68, -1, 0.32, 1.8) 0.1s, opacity 1s linear;
}
.form_input:valid ~ .form_check {
	fill: #06af8b;
	transform: scale(1.1);
}
.form_input:focus:valid ~ .form_check {
	transform: scale(1.5);
}

.submit {
	background-color: hsl(0, 0%, 20%);
	color: hsl(0, 0%, 96%);
	outline: none;
	border: none;
	padding: 0.5rem 2rem;
	border-radius: 3px;
	text-transform: capitalize;
	margin: 1rem;
	position: relative;
	cursor: text;
}

.submit:hover {
	filter: brightness(1.2);
	cursor: pointer;
}

.page-container {
	height: 90vh;
	background-color: hsl(0, 0%, 90%);
}

.account-container {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas:
		"welcome welcome welcome"
		"balance transaction deposit"
		". transaction withdraw";
	place-items: center;
}

.account-welcome {
	grid-area: welcome;
	font-size: 4rem;
	align-self: center;
	justify-self: center;
}

.account-balance {
	grid-area: balance;
	font-size: 3rem;
}

.account-transaction-container {
	grid-area: transaction;
	font-size: 2.5rem;
}

.account-deposit {
	grid-area: deposit;
}

.account-withdraw {
	grid-area: withdraw;
}

.full-page-container {
	height: 90vh;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.need-create {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.need-create-title {
	margin-right: 1rem;
}

.need-create-link {
	background-color: hsl(0, 0%, 90%);
	color: hsl(0, 0%, 20%);
	outline: none;
	border: none;
	padding: 0.5rem 2rem;
	border-radius: 3px;
	text-transform: capitalize;
	position: relative;
	cursor: text;
	transition: all 0.2s ease-out;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.need-create-link:hover {
	color: hsl(27, 79%, 59%);
}

.grid-button {
	font-family: futura-pt, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
	color: hsl(0, 0%, 21%);
	background-color: hsl(0, 0%, 80%);
	font-size: 2.5rem;
	letter-spacing: 2px;
	padding: 2rem;
	border: none;
	border-radius: 10px;
	transition: all 0.2s ease-out;
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
	gap: 2rem;
}

.grid-button:hover {
	cursor: pointer;
	filter: brightness(1.2);
}
