.account-container {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas:
		"welcome welcome"
		"deposit withdraw"
		"balance balance";
	place-items: center;
}

.account-welcome {
	grid-area: welcome;
	font-size: 4rem;
	align-self: center;
	justify-self: center;
}

.account-balance {
	grid-area: balance;
	font-size: 4rem;
}

.account-transaction-container {
	display: none;
}

.account-deposit {
	grid-area: deposit;
}

.account-withdraw {
	grid-area: withdraw;
}
