@mixin neue-haas-grotesk-display-65-medium {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 600;
	font-style: normal;
}

@mixin flegrei {
	font-family: flegrei, sans-serif;
	font-weight: 400;
	font-style: normal;
}

@mixin ocr-a {
	font-family: ocr-a-std, monospace;
	font-weight: 400;
	font-style: normal;
}
