.login-dropdown-container {
	width: 100%;
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-dropdown {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: hsl(0, 0%, 96%);
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	color: hsl(0, 0%, 20%);
	padding: 1rem 4rem;
	transition: all 0.2s ease-out;
}

.login-dropdown:hover {
	cursor: pointer;
	color: hsl(27, 79%, 59%);
	animation-name: bounce;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	animation-delay: 0.1s;
}

.login-dropdown-arrow {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: hsl(0, 0%, 96%);
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	color: hsl(0, 0%, 20%);
	padding: 1rem 4rem;
	transition: all 0.2s ease-out;
}

.login-dropdown-arrow:hover {
	cursor: pointer;
	color: hsl(27, 79%, 59%);
	animation-name: bounce;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	animation-delay: 0.1s;
}

.login-dropdown-tools {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: hsl(0, 0%, 96%);
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	color: hsl(0, 0%, 20%);
	padding: 1rem 4rem;
	transition: all 0.2s ease-out;
}

.login-dropdown-tools:hover {
	cursor: pointer;
	color: hsl(27, 79%, 59%);
	animation-name: bounce;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	animation-delay: 0.1s;
}

.show {
	opacity: 0;
	visibility: collapse;
}

@keyframes bounce {
	50% {
		transform: translateY(-2px);
	}

	100% {
		transform: translateY(0);
	}
}

.drop {
	top: 10vh;
}

.drop-deep {
	top: -50vh;
}

.login-container {
	height: 100%;
	width: 100%;
}

.form_container {
	padding: 2rem;
	width: 100%;
}

.form {
	width: 100%;
	border-radius: 3px;
	padding: 4rem;
	position: relative;
}
.form_section {
	padding: 2.5rem 0 0 0;
	margin: 1rem;
	position: relative;
	cursor: text;
}
.form_input {
	width: 100%;
	padding: 0.5rem;
	background-color: hsl(0, 0%, 90%);
	outline: none;
	border: none;
	border-radius: 3px;
	color: black;
	font: inherit;
	transition: border-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1),
		transform 0.6s cubic-bezier(0.23, 1, 0.32, 1),
		box-shadow 1.5s cubic-bezier(0.23, 1, 0.32, 1) 0.2s,
		background 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	text-transform: capitalize;
}
.form_input-email {
	text-transform: lowercase;
}
.form_input-email::placeholder {
	text-transform: capitalize;
}
.form_input-validator {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
	background-color: #06af8b;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}
:not(:focus):valid ~ .form_input-validator {
	visibility: visible;
	transform: scaleX(1);
}
.form_input::placeholder {
	color: rgba(169, 169, 169, 0.5);
	transition: all 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.form_input:focus {
	box-shadow: rgba(233, 142, 68, 0.4) 5px 5px, rgba(233, 142, 68, 0.3) 10px 10px,
		rgba(233, 142, 68, 0.2) 15px 15px, rgba(233, 142, 68, 0.1) 20px 20px,
		rgba(233, 142, 68, 0.05) 25px 25px;
	transform: scale(1.03);
}
.form_input:focus::placeholder {
	color: black;
}
.form_label {
	position: absolute;
	top: 35%;
	left: 0;
	color: darkgray;
	visibility: hidden;
	opacity: 0;
	transition: all 0.6s;
}
.form_input:not(:placeholder-shown) ~ .form_label {
	visibility: visible;
	opacity: 1;
	font-size: 1.5rem;
	top: 0;
	color: black;
}
.form_check {
	position: absolute;
	top: 50%;
	right: 1%;
	fill: transparent;
	transition: fill 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) 0.1s,
		transform 0.5s cubic-bezier(0.68, -1, 0.32, 1.8) 0.1s, opacity 1s linear;
}
.form_input:valid ~ .form_check {
	fill: #06af8b;
	transform: scale(1.1);
}
.form_input:focus:valid ~ .form_check {
	transform: scale(1.5);
}

.submit {
	background-color: hsl(0, 0%, 20%);
	color: hsl(0, 0%, 96%);
	outline: none;
	border: none;
	padding: 0.5rem 2rem;
	border-radius: 3px;
	text-transform: capitalize;
	margin: 1rem;
	position: relative;
	cursor: text;
	transition: all 0.2s ease-out;
}

.submit:hover {
	background-color: hsl(27, 79%, 59%);
	cursor: pointer;
}

.need-create {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	color: hsl(0, 0%, 20%);
}

.need-create-title {
	margin-right: 1rem;
}

.need-create-link {
	background-color: hsl(0, 0%, 90%);
	color: hsl(0, 0%, 20%);
	outline: none;
	border: none;
	padding: 0.5rem 2rem;
	border-radius: 3px;
	text-transform: capitalize;
	position: relative;
	cursor: text;
	transition: all 0.2s ease-out;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.need-create-link:hover {
	color: hsl(27, 79%, 59%);
	cursor: pointer;
}

.login-success {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
