.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10vh;
	background-color: hsl(0, 0%, 96%);
	box-shadow: 0 1px 1px hsla(0, 0%, 6%, 0.1);

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 4rem;
	z-index: +2;
}

.logo {
	font-size: 4rem;
	font-family: futura-pt, sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0.5rem;
	color: hsl(0, 0%, 20%);
	position: relative;
	white-space: nowrap;
	transition: all 0.3s ease-out;
	font-family: mrs-eaves-roman-small-caps, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.logo::before {
	content: "home";
	position: absolute;
	opacity: 0;
	right: 0%;
	color: hsla(0, 0%, 70%, 0.5);
	transition: all 0.3s ease-out;
}

.logo::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 1%;
	width: 75%;
	height: 3px;
	background-color: hsl(27, 79%, 59%);
	transition: all 0.3s ease-out;
}

.logo:hover {
	color: hsl(0, 0%, 0%);
}

.logo:hover::before {
	opacity: 1;
	right: -75%;
}

.logo:hover::after {
	width: 156%;
}
.link-container {
	display: flex;
	gap: 4rem;
}

.link {
	font-size: 2rem;
	font-family: futura-pt, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: hsl(0, 0%, 20%);
	transition: all 0.3s ease-out;
	white-space: nowrap;
}

.link:hover {
	color: hsl(27, 79%, 59%);
	cursor: pointer;
}

.secondary-nav {
	position: absolute;
	z-index: +1;
	width: 50%;
	top: -30vh;
	right: 5%;
	background-color: hsl(0, 0%, 96%);
	display: flex;
	gap: 4rem;

	border-bottom-left-radius: 25px;

	transition: all 0.3s ease-out;
}
